body {
    background-color: blak;
    color: rgb(255, 0, 0);
    font-family: *trebuchet MS* , *comic sans MS* ,CURSIVE;
    MARGIM: 0;
}

header {
    font-size: 60px;
    padding:  6px;
    text-align: center;
}

h1 {
    font-size: 30px;
    border-bottom: double 5px rgb(255, 0, 0);
    text-align: center;
}

p{
    font-size: 20px;
    text-align: center;
}

iframe, video {
    display: block;
    margim: 0 auto;
    width: 80%;
    max-width: 700px;
}